#green-btn {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

#green-btn:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}